[Unit]
Description=Set cpu freq to max
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ynv
ExecStart=/bin/cpupower frequency-set -g performance

[Install]
WantedBy=multi-user.target
