[Unit]
Description=Set fan to max speed
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ynv
ExecStart=/bin/i8kctl fan1 2

[Install]
WantedBy=multi-user.target
